[Unit]
Description=Dziro backend app service
After=network.target

[Service]
Type=simple
Restart=always
User=$USER
WorkingDirectory=$WD
ExecStart=$APP

[Install]
WantedBy=multi-user.target
